{% extends 'crud/main.html' %}

{% block content %}

{% include 'crud/lineChart.html' %}

<table class="table table-sm table-bordered">
    <thead class="bg-info">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Trade code</th>
        <th scope="col">High</th>
        <th scope="col">Low</th>
        <th scope="col">Open</th>
        <th scope="col">Close</th>
        <th scope="col">Volume</th>
      </tr>
    </thead>
    <tbody>
      <h1 class="text-white bg-dark" >Stock Market Data Table</h1>
        {%for i in companydata%}
         <tr>
          <td>{{i.date}}</td>
          <td>{{i.Trade_name}}</td>
          <td>{{i.high}}</td>
          <td>{{i.low}}</td>
          <td>{{i.open}}</td>
          <td>{{i.close}}</td>
          <td>{{i.volume}}</td>
         </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
